#Magnificient{
    
    width: 100%;
    height: 600px;
   top: 0px;
   left: 0%;
   right: 0%;
    position: relative;
    background-image: url(../photos/bgn-home-slider-01.jpg);
}

.leftBtn .previous {
 
    align-items: center;
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    color:white;
   
    cursor: pointer;
    display: inline-block;
    transition: 0.3s;
  }

  .leftBtn .previous:hover {
      position: relative;
       font-size:1.8em;
      left: -20px;
  }



  .rightBtn{
      position: absolute;
    height: 100%;
    right: 20px;
    top:50%;
}
.leftBtn{
    position: absolute;
  height: 100%;
  left: 0;
  top:50%;
}



.rightBtn .next {

    
    align-items: center;
    border:none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
   
    cursor: pointer;
    display: inline-block;
    transition: 0.3s;
  }
  .next{
      color:white;
  }
  .leftBtn .previous:hover {
      position: relative;
      font-size: 1.5em;
      left: -20px;
  }
  .rightBtn .next:hover {
    position: relative;
    font-size: 1.5em;
    right: -20px;
}



.content{
    padding-top: 15.125rem;
    color: aliceblue;
    }
    .btn1,.btn2{
       transition: 3s ;
       padding: 15px 35px;
       border: none;
    }
    .btn1:hover{
        background: linear-gradient(to top,#1976bc 0%,#8dc645 100%)
    }
    .btn2:hover{
        background: linear-gradient(to bottom,#1976bc 0%,#8dc645 100%)
    }
    .contain{
        position: relative;
        width: 96%;     
        top: -70px;
        left: 2%;
        right: 2%;
        
    }
    .jumbotron{
        border-bottom:solid   #1976bc;
    }
   