.birinci{
    
    width: 100%;
    height: 766px;
   top: 0px;
   left: 0%;
    position: relative;
    background-image: url(../photos/bgn-home-slider-01.jpg);
}
.leftBtn{
    height: 100%;
    display: flex;
  
}
.leftBtn .previous {
 
    align-items: center;
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
   
    cursor: pointer;
    display: inline-block;
    transition: 0.3s;
  }
  .previous{
      color:white;
  }
  .leftBtn .previous:hover {
      position: relative;
     
      left: -20px;
  }



  .rightBtn{
      position: absolute;
    height: 100%;
    right: 0;
    top:0;
    display: flex;
  
}
.rightBtn .next {

    justify-content: flex-end;
    align-items: center;
    border:none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
   
    cursor: pointer;
    display: inline-block;
    transition: 0.3s;
  }
  .next{
      color:white;
  }
  .leftBtn .previous:hover {
      position: relative;
     
      left: -20px;
  }
  .rightBtn .next:hover {
    position: relative;
   
    right: -10px;
}